{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block stylecss %}
    <style>
        @media (max-width : 1000px){
        #mdfield {
            width: 80%;
            height: 500px;
        }}

        @media (min-width : 1000px){
        #mdfield {
            width: 60%;
            height: 500px;
        }}

        h3{
            margin-top: 30px;
        }

        input[type=submit]{
            background-color: #4d90fe;
            color: whitesmoke;
            border-radius: 1px;
            border: 1px  #3079ed;
            cursor: pointer;
        }

    </style>

    
{% endblock %}

{% block body %}

    <h1> Editing Page </h1>
    <br>
    <hr>

    <form action="{% url 'edit' %}" method="post">
        {% csrf_token%}
       

        <label for="mdfield"> Markdown Content: </label>
        <br>
        <textarea id="mdfield" name="markdowncont" rows="30" cols="60" >{{content}}</textarea>

        <br>
        <input type="submit" value="save changes">
        

    </form>
{% endblock %}