{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block stylecss %}
    <style>
        @media (max-width : 1000px){
        #mdfield {
            width: 80%;
            height: 500px;
        }}

        @media (min-width : 1000px){
        #mdfield {
            width: 60%;
            height: 500px;
        }}

        h3{
            margin-top: 30px;
        }

        input[type=submit]{
            background-color: #4d90fe;
            color: whitesmoke;
            border-radius: 1px;
            border: 1px  #3079ed;
            cursor: pointer;
        }

    </style>

    
{% endblock %}

{% block body %}


    <h3>Create a new page</h3>

    <hr>

    <form action="{% url 'newpage' %}" method="post">
        {% csrf_token%}
        <label for="titlefield"> Title: </label>
        <br>
        <input type="text" name="title" id="titlefield"> 

        <br>

        <label for="mdfield"> Markdown Content: </label>
        <br>
        <textarea id="mdfield" name="markdowncont" rows="30" cols="60" ></textarea>


        <br>
        <input type="submit" value="save page">
        

    </form>
    


{% endblock %}